<div>
  <ul class="blog-news">
    {% assign news_list = '' | split: ',' %} {% for news in site.posts %} {%
    assign news_list = news_list | push: news %} {% endfor %} {% for news in
    news_list %} {% unless news == previous %}
    <li>
      <span>
        <i>
          <time datetime="2022-01-28" pubdate="">
            {{ news.date | date: "%b %-d, %Y" }}
          </time>
        </i>
      </span>
      <a href="{{ site.baseurl }}{{ news.url }}">{{ news.title }}</a>
    </li>
    {% endunless %} {% assign previous = news %} {% endfor %}
  </ul>
</div>
