<div>
  <a
    href="https://github.com/legallgu"
    title="GitHub"
    class="socials-icon"
    target="_blank"
  >
    <img
      src="{{ site.images.github_icon | relative_url }}"
      alt="GitHub"
      class="socials-icon"
      title="GitHub"
    />
  </a>

  <a
    href="https://scholar.google.com/citations?user=_d08m10AAAAJ&hl=fr"
    title="Google Scholar"
    class="socials-icon"
    target="_blank"
  >
    <img
      src="{{ site.images.googlescholar_icon | relative_url }}"
      alt="Google Scholar"
      class="socials-icon"
      title="Google Scholar"
    />
  </a>

  <a
    href="https://orcid.org/my-orcid?orcid=0009-0007-6251-7549"
    title="ORCID"
    class="socials-icon"
    target="_blank"
  >
    <img
      src="{{ site.images.orcid_icon | relative_url }}"
      alt="ORCID"
      class="socials-icon"
      title="ORCID"
    />
  </a>

  <a
    href="https://www.researchgate.net/profile/Guillaume-Le-Gall-2?ev=hdr_xprf"
    title="ResearchGate"
    class="socials-icon"
    target="_blank"
  >
    <img
      src="{{ site.images.researchgate_icon | relative_url }}"
      alt="ResearchGate"
      class="socials-icon"
      title="ResearchGate"
    />
  </a>

  <a
    href="https://www.linkedin.com/in/guillaume-le-gall/"
    title="LinkedIn"
    class="socials-icon"
    target="_blank"
  >
    <img
      src="{{ site.images.linkedin_icon | relative_url }}"
      alt="LinkedIn"
      class="socials-icon"
      title="LinkedIn"
    />
  </a>
</div>
